#root {
  width: 100vh;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

header {
  margin-top: 20%;
  display: inline-block;
  width: 100vh;
}

.profileName {
  margin-top: 20%;
  flex: 1;
  font-size: 90px;
  width: 100vh;
}

header.Nav {
  margin-bottom: 10%;
  position: sticky;
  width: 100vh;
 
}


