#root {
  display:flex;
  flex-direction: column;
  width: 100vh;
  height: 100%;
  min-height: 100vh;
  margin: 1px;
  padding: 0rem;
  text-align: center;
}

main {
  flex:1
}

header {
  margin-top: 20%;
  display: inline-block;
  width: 100vh;
}

.profileName {
  margin-top: 25%;
  flex: 1;
  font-size: 90px;
  width: 90vh;
}

header.Nav {
  margin-top: -10%;
  margin-bottom: 10%;
  position: absolute;
  width: 100vh;
 
}

footer {
  height: 100px;
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: space-between;
}

@media screen and (min-width: 768px) {
  #root {
    margin-top: 20%;
    min-width: 768px;
    width: 100%;
    
  }
  header {
    display:flex;
    position: fixed;
    margin: 0;
    top: 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-image: url('/abstractGreenBackground.jpg');
  }
  
  .profileName {
    color: #213547; 
    margin-top: 5%;
    margin-left: 5%;
    flex: 0;
    font-size: 45px;
    width: 20%;
    flex: 20%;
    display: inline-block;
    text-align: left;
  }

  footer {
    margin-top: 20%;
    margin-bottom: 20%;
  }
}


